body{
	width: 960px;
	margin: auto;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

/************ header **********/

header{
	overflow: hidden;
}

header .logo{
	float: left;
	font-size: 2em;
	letter-spacing: -2px;
}

header h1{	
	text-indent: -9999px;
	margin: 10px 10px -14px 0px;
	padding-bottom: 0px;	
}

header h1 a{
	background: url(../img/logo.png) no-repeat;
	width: 174px;
	height: 23px;
	float: left;
	
}

.logo span{
	font-weight: bold;	

}

.menu li{
	display: inline;
	font-size: 0.75em;
	float: right;
	margin-top: 15px;
	margin-left: 25px;
	color: #818181;			
}

.menu .active{
	color: black;
	font-weight: bold;
}

.menu li:hover{
	;color: #444444
}


.left-img{
	clear: both;
	position: relative;
	background: url(../img/2.jpg) no-repeat;
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;	
	height: 231px;
	width: 695px;

}

.left-img h2{
	color: white;
	font-size: 28px;
	width: 430px;
	font-weight: normal;
	position: absolute;
	bottom: -10px;
	padding: 0 8px;
	left: 8px;
	background: rgba(0,0,0,0.5);

}

.right-img{
	width: 240px;
	height: 231px;
	margin: 15px 0px 15px;
	background-color: #2c2c2c;
	float: right;	
}

/************ content (article and sidebar) **********/

.content{	

	display: inline;
}

.content .page{
	width: 695px;
	float: left;
}

/* article */

article{
	line-height: 17px;
}

article p{
	font-size: 0.8em;
}

article .title{
	font-size: 25px;	
	letter-spacing: -1px;	
	padding-top: 0;
	padding-bottom: 25px;
	border-bottom: solid 1px #e4e4e4;
}

article p{
	line-height: 20px;
}

.article1{
	width: 315px;	
	float: left;
	margin: 0px 0px 5px 0px;
	padding: 20px 10px 10px 0px;	
}

.article2{
	width: 315px;	
	float: right;
	margin: 0px 5px;	
	margin: 0px 0px 5px 0px;
	padding: 20px 10px 10px 0px;	
}

.readmore{
	font-size: 0.55em;
	color: white;
	text-transform: uppercase;
	background-color: black;
	width: 58px;	
	margin-top: 20px;
	padding: 3px 7px;
}

/************ sidebar **********/

blockquote{
	position: relative;
	margin-left: 0;
	font-style: italic;
}

.sidebar{	
	overflow: 	hidden;
	width: 240px;	
	
	float: 	left;
	margin-left: 15px;
	padding-left: 0;
	
}

.sidebar blockquote p{
	padding-left: 30px;
}

.sidebar blockquote p:before,
.sidebar blockquote p:after{
	font-size: 40px;
	color: #bfbfbf;
	font-style: italic
}

.sidebar blockquote p:first-child:before{
	content: '“';	
	position: absolute;
	top: -10px;
	left: 0;
}

.sidebar blockquote p:last-child:after{
	content: '”';	
	float: right;
	position: absolute;
	bottom: -25px;
	right: 0;

}

/************ footer **********/

footer{	
	font-size: 12px;		
	border-top: solid 1px #e4e4e4;
	clear: both;	
}

footer p {
	color: #818181;			
}

footer .black{
	color: black;
	font-weight: bold;
}